.navbar_main_container {
  width: 100%;
  height: 50px;
  background: #4bb4e6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_title {
  font-family: "Roboto", Courier, monospace;
  font-size: 2rem;
  margin-left: 30px;
  color: #e8efef;
  text-shadow: 1px 2px #272020;
  font-weight: 800;

  @media screen and (max-width: 768px) {
    font-size: 1.5rem;
  }
}

.navbar_buttons_container {
  width: 280px;
  display: flex;
  justify-content: space-around;

  button {
    font-family: "Roboto", Courier, monospace;
    font-size: 1rem;
    color: #e8efef;
    text-shadow: 1px 2px #272020;
    font-weight: 800;

    @media screen and (max-width: 768px) {
      font-size: 0.9rem;
    }
  }

  button:hover {
    text-decoration: underline;
  }
}

.navbar_avatarImg_container {
    margin-right: 30px;
    cursor: pointer;
}